*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;;
    background-color: #332a45;
}
.title-page-curse{
    margin: 50px;
}
.title-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 50px;
    text-transform: capitalize;
}
.description-page{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: capitalize;
    font-weight: 400;
}
.sumary-curse{
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 10px;
    padding: 25px;
}
.sumary-section{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sumary-list{
    margin: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.sumary-list a{
    text-decoration: transparent;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    border-radius: 4px;
    margin: 5px;
    display: block;
    width: auto;
    padding: 5px;
}
.sumary-list a:hover{
    color: #ffffff;
    cursor: pointer;
    background-image: linear-gradient(60deg, #7442ff, #E54857);

}
.section-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    margin: 50px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-modify: read-only;
}

.mini-logo{
    width: 25px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-modify: read-only;
}
.kotlin-logo-name{
    margin-left: 15px;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.about-koltin{
    margin-left: 90px;
    margin-right: 90px;
    font-size: 18px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}
strong{
    font-weight: 600;
}
.println-text{
    color: #35c78a;
}
.comment{
    color: #8f8f8f;
}
.fun{
    color: #bc8ef5;
}
.main{
    color: rgb(104, 166, 236);
}
.box-code{
    font-size: 16px;
    border-left: 5px solid #ffffff;
    margin-left: 90px;
    margin-right: 90px;
    padding-left: 30px;
    display: block;
}

.footer-page{
    height: auto;
    background-color: #272034;
}
.full-logo{ 
    width: 150px;
}

.menu-curse{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top-width: 25px;
    border-top-style: solid;
    border-image: linear-gradient(64deg, #7F52FF, #E54857) 1;
}

.kotlin-curse-description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 700px;
}
.curse-description{
    font-size: 18px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin: 50px;
}

.menu-curse-list{
    list-style-type: none;
}
.menu-curse-list a{
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 100;
    transition:  all 0.5s;
}
.infor-page{
    width: auto;
    height: 50px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1B;
}
.heart{
    transition: all 0.5s;
}
.wink{
    transition: all 0.5s;
}
.plant{
    transition: all 0.5s; 
}
.box{
    transition: all 0.5s; 
}
.box:hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #ffda81);
}
.github{
    transition: all 0.5s;
    color: #ffffff;
    text-decoration: none;
}
.github:hover{
    filter: drop-shadow(0px 0px 5px #d289ff);
    color: #d289ff;
}
.heart:hover{
    filter: drop-shadow(0px 0px 5px #ff0050);
    cursor: pointer;
}
.wink:hover{
    filter: drop-shadow(0px 0px 5px #ffc833);
    cursor: pointer;  
}
.linkedin{
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}
.linkedin:hover{
    filter: drop-shadow(0px 0px 5px #0096ff);
    color: #0096ff;
}
::selection{
    color: #1b1b1b;
    background-color: #d289ff;
}
a:hover{
    color: #ca74ff;
}
.plant:hover{
    filter: drop-shadow(0px 0px 5px #9dfd37);
    cursor: pointer;
}
